	<h1> <%= @p.name %> report</h1>
	<p>When last checked, <%= @p.name %> has <strong><%= @p.votes.last.number %></strong> votes.</p>

	<div id="myfirstchart" style="height: 350px;"></div>

	<br /><br /><a href="http://eci-glamour.herokuapp.com/api/participant/<%= @p.namehash %>/votes.json">Votes source</a>
<script>
$(function () {
    morrisTemplate = {
      element: 'myfirstchart',
      data: [
      ],
      xkey: 'date',
      ykeys: ['votes'],
      labels: ['Total votes']
    }

    chart();
    setInterval("location.reload(true)" , 5*60*1000);


    function chart(){
    	url = 'http://eci-glamour.herokuapp.com/api/participant/<%= @p.namehash %>/votes.json';
    	$.getJSON(url,function(data){ 
    		morrisTemplate.data = data;
		Morris.Line(morrisTemplate);
    	})
    }
});
</script>