<!DOCTYPE html>
<html>
<head>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
	<title><%= @p.name %> report</title>
</head>
<body>
	<h1> <%= @p.name %> report</h1>
	<p>When last checked, <%= @p.name %> has <strong><%= @p.votes.last.number %></strong> votes.</p>

	<div id="myfirstchart" style="height: 250px;"></div>

<script>
$(function () {
    morrisTemplate = {
      element: 'myfirstchart',
      data: [
      ],
      xkey: 'date',
      ykeys: ['votes'],
      ymin: '0',
      labels: ['Total votes']
    }

    chart();
    setInterval("location.reload(true)" , 5*60*1000);


    function chart(){
    	url = 'http://eci-glamour.herokuapp.com/api/participant/<%= @p.hash %>/votes.json';
    	$.getJSON(url,function(data){ 
    		morrisTemplate.data = data;
		Morris.Line(morrisTemplate);
    	})
    }
});
</script>

</body>
</html>